body {
    background-color: rgb(226, 227, 227);
    font-family: "Poppins", Helvetica, sans-serif;
  font-weight: 600;
  font-style: normal;
    text-align: center;
}
h1
 {
    text-align: center;
    font-family: "Poppins",Helvetica, sans-serif;
    font-weight: 700;
    font-style: normal;
    } 
a:link {
    text-decoration: none; 
    color: rgb(0, 0, 0);
  }
  
  /* visited link */
  a:visited {
    color: rgb(105, 108, 255);
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(105, 108, 255);
  }
  
ul{
    list-style-type: none;
}