
@font-face {
    font-family: "meteoric";
    src: url("fonts/meteoric.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
  
body{
    font-family:"meteoric";
    max-width: 80%;
    padding: 20px;
    color: rgb(255, 255, 255);
    background-color: black;
    margin: 0 auto;
      
    
}
p{
    margin-bottom: 20%;
}
.icon{
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

h1{
    font-size: 80px;
position: relative;
}
h2{
    text-align: center;
}


h3{
    line-height: 180%;
    
}
h5{
    text-align: left;
    font-size: 18px;
    line-height: 150%;
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
    max-width: 50%;
    margin: 0 auto;
}

.images{
    max-width: 500px;
    max-height: 500px;
    padding: 5%;
    position: relative;
    display: block;
  margin-left: auto;
  margin-right: auto;

}

.header {
    background-color: black;
    color: white;
    padding: 40px;

    transition: background-image 0.3s ease, background-color 0.3s ease;
  }

.header:hover{
    background-image: url("image/hover-image.gif"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent; 
    transition: background-image 0.3s ease, background-color 0.3s ease;
}

.list{
    text-align: center;
    margin: 0 auto;
    font-size:30px ;
    line-height: 150%;
    color: black;
    background-color: rgb(224, 224, 224);
    border-radius: 10px;
    width: 80%;
    height: auto;
    padding: 50px;
}

a{
    max-width: 50%;
font-family: "meteoric";
color: rgb(255, 255, 255);
font-size: 15px;
padding: 10px;
border-radius: 10px;
text-decoration: none; 
border-color: white;
background-color: rgb(0, 0, 0);
}

a:hover{
    font-size: 18px;
    color: rgb(0, 0, 0);padding: 12px;
    background-color: rgb(255, 255, 255);
    transition: background-image 0.3s ease, background-color 0.3s ease;padding: 1s ease;
}