
@font-face {
    font-family: "meteoric";
    src: url("fonts/meteoric.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
  
body{
    font-family:"meteoric";
    max-width: 80%;
    padding: 20px;
    color: rgb(255, 255, 255);
    background-color: black;
    margin: 0 auto;
      
    
}
p{
    margin-bottom: 20%;
}
.icon{
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

h1{
    font-size: 80px;
position: relative;
}
h2{
    text-align: center;
}


h3{
    line-height: 180%;
    
}
h5{
    text-align: left;
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
    max-width: 50%;
    margin: 0 auto;
}

.images{
    max-width: 50%;
    max-height: 500px;
    padding: 5%;
    position: relative;
    display: block;
  margin-left: auto;
  margin-right: auto;

}





.fly {
    animation: flyacross 8s infinite linear;
    position: absolute;
    top: 50%;
    left: -200px;
  }
  
  @keyframes flyacross {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(120vw); /* 視窗寬度的 120%，讓它飛出去 */
    }
  }
  